html, body {
  margin: 0;
  height: 100%;
  min-width: 290px;
  box-sizing: border-box;
  background: #FEFEFE;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 10px;
}


code {
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.2;
  background-color: #EEEEEE;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

#main-doc header {
  margin: 0px;
  text-align: left;
}

p, ul {
  font-size: 1.6rem;
  line-height: 1.2;
}

ul > li {
  margin-bottom: 5px;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

.main-section {
  font-size: 2rem;
  line-height: 2.5rem;
}


#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 88%;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #010101;
  border-top: 1px solid;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #100001;
  text-decoration: none;
  cursor: pointer;
}

#navbar a:hover {
  color: #888888;
}

.navlink {}

@media only screen and (max-width: 815px) {
  /* for mobile phones */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: white;
    top:0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0;
    margin-top: 275px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  #navbar {
    position: absolute;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
